<!DOCTYPE html>
{% extends "base.html" %}
<html>
  <head>
      {% load static %}
      {% block head %}
        {{block.super}}
      {% endblock head %}

      {% block css %}
        {{block.super}}
      {% endblock css %}
  </head>
<body>  
{% block content %}
  {% block logo %}
  <h1 class="logo1">Luluzinha</h1>
  <h4 class="logo2">ESMALTERIA</h4>
  {% endblock logo %}
    <div>
        <div class="texto">
          <h1>Login</h1>
          <h3>Entre com seus dados para acessar o sistema</h3>
        </div>

        <div class="tela">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar</button>
          </form>
        </div>
    </div>

<!--<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Enviar</button>
</form>-->
{% endblock %}
</body>
</html>