<!DOCTYPE html>
<html>
<head>
    <title>Login-Luluzinha Esmalteria</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="C:/Users/tibac/Desktop/OPE_ELMALTERIA_WEB/core/static/css/00_base.css">
    
</head>

<body>

    <h1 class="logo1">Luluzinha</h1>
    <h4 class="logo2">ESMALTERIA</h4>

    <div>
        <div class="texto">
            <h1>Login</h1>
            <h3>Entre com seus dados para acessar o sistema</h3>
            

        </div>

        <div class="tela">

            <label for="email">Email:</label>
            <input type="email" name="" placeholder="Email">

            <label for="Password">Password:</label>
            <input type="password" name="">

           <div class="check">
                <input type="checkbox" name="service"
                value="lembreme" checked="checked"/> Lembre-me
                <a href="http://google.com" target="_blank"><b>Esqueceu a senha?</b></a>
            </div>
            

            <button type="button" value="enviar">Enviar</button>
        </div>

    </div>
</body>
</html>