<!DOCTYPE html>
<html>
  <head>
  {% load static %}
  {% block logo %}
    <h1 class="logo1">Luluzinha</h1>
    <h4 class="logo2">ESMALTERIA</h4>
  {% endblock logo %}
  {% block head %}
      <title>{{ title | upper }}</title>
      <meta charset="utf-8">
    
      {% block css %}
      <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"/>
      <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
      {% endblock css %}

      {% block js %}
      <script language="javascript" src="{% static 'js/home.js' %}"></script>
      {% endblock js %}
  {% endblock head %}
  </head>

  <body>
  {% block body %}
    {% block content %}
      
    {% endblock content%}
  {% endblock body %}  
  </body>
</html>