{% extends 'base.html' %}
{% block head %}
  {{block.super}}
{% endblock head %}

{% block body %}

{% if user.is_authenticated %}
  Olá, {{ user.username|title }}!
  <h1>{{ mydate|date }}</h1>  

  
<div id= "sidebar">
    <div class="toggle-btn" onclick="toggleSidebar()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul id="lista">
      <li><a href="{% url 'cadastrar_usuario' %}">Usuário</a></li>
      <li><a href="{% url 'lista_de_clientes' %}">Clientes</a></li> 
      <li><a href="{% url 'lista_de_produtos' %}">Produtos</a></li>
      <li><a href="{% url 'lista_de_servicos' %}">Serviços</a></li>
      <li><a href="{% url 'lista_de_agendamento' %}">Agendamentos</a></li>
      <li id = "teste">Relatórios</li>
      <li>Backup</li>
      <li>Sistema</li>
      <li><a href="{% url 'logout' %}">Sair</a></li> 
    </ul>
</div>
{% block content %}

<div class="container">
    <div class="text-right" >
    <h1>Aniversariantes</h1>
    </div>
    <div class="row justify-content-end">
        <div class="col-4">
          <table class="table table-head">
              <thead>
                  <tr>
                      <th class="text-left">Nome</th>
                      <th class="text-left">E-mail</th>
                      <th class="text-left">Telefone</th>
                  </tr>
              </thead>
              <tbody>
                    {% for cliente in clientes %}
                    <tr>
                      <td>{{cliente.nome}}</td>
                      <td>{{cliente.email}}</td>
                      <td>{{cliente.celular}}</td>
                    </tr>
                    {%endfor%}
              </tbody>
          </table>
    </div></div> 
    </div>

{% endblock content %}

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% block script %}
  {{block.super}}
{% endblock script %}
{% endblock body %}
