{% extends 'baseUsuario.html' %}

{% block content %}

<div class="container">
<div class="text-center">
<h1 class="text-warning">Cadastro de Usuários</h1>
</div>
<table class="table table-head">
    <thead>
        <tr>
            <th>Usuário</th>
            <th>Primeiro nome</th>
            <th>Último nome</th>
            <th>Endereço de email</th>
            <th>SuperUsuário</th>
            {% if user.is_authenticated %}
            <th>Opções</th>
            <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for usuarios in usuarios %}
        <tr>
            <td>{{ usuarios.username }}</td>
            <td>{{ usuarios.first_name }}</td>
            <td>{{ usuarios.last_name }}</td>
            <td>{{ usuarios.email }}</td>
            <td>{{ usuarios.is_superuser }}</td>

            {% if user.is_authenticated %}
            <!--<td><a href="editar_usuario/{{ usuarios.id }}" class="btn btn-warning">Editar</a></td>
            <td><a href="remover_usuario/{{ usuarios.id }}" class="btn btn-danger">Excluir</a></td>-->
            {% endif %}

        </tr>
        {% endfor %}
    
    </tbody>

</table>
<!--{{ usuarios }} QUERYSET-->
</div>
{% endblock content %}
