@charset "UTF-8";
@font-face {
	font-family: 'FonteLogo';
    src: url()
}

body
{
    background-color: orange;
}

.logo1
{
    display: block;
    margin: 5px 10px -8px 15px; 
    color: white;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    
}

.logo2
{
    display: block;
    margin: 0px 0px 0px 130px; 
    color: white;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.texto h1
{
    color: #EBEBEB;
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 60px 0 0 540px;
}

.texto h3
{
    color: #EBEBEB;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px 0 0 540px;
}

.tela
{
    background-color:#EBEBEB;
    width: 400px;
    height: 350px;
    margin: 10px 0 0 540px;
    padding-top: 30px;
    text-align: left;
    border-radius: 20px;

}

.tela input
{
    display: block;
    margin: 5px 10px 10px 15px;
    width: 85%;
    padding: 5px;
    border-radius: 10px;
    color: blue;

}

.tela label
{
   display: block;
   padding: 10px 10px 5px 15px;
   font-size: 15px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: orange; 
}


.tela button
{
    display: block;
    color: white;
    margin: 40px 0px 0 15px;
    font-family: 20px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color:rgb(231, 152, 4);
}

.check 
{
    position: relative;
    font-size: 12px;
    color: orange;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px 0 0 20px;

}

.check a
{
    position: relative;
    font-size: 12px;
    color: orange;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px 0 0 180px;
}
